<div>
  <link href="./hero.css" rel="stylesheet" />
  <div class="hero-hero">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1529859503572-5b9d1e68e952?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fG1pbmltYWxpc20lMjBjb3VjaHxlbnwwfHx8fDE2MjYxODI1OTE&ixlib=rb-1.2.1&w=1200"
      class="hero-image"
    />
    <div class="hero-container">
      <h1 class="hero-text"><span>Let’s keep things organised</span></h1>
      <h2 class="hero-text01">
        <span>Magnificent things are very simple.</span>
      </h2>
      <div class="hero-btn-group">
        <button class="hero-button button"><span>Get Started</span></button>
        <button class="hero-button1 button"><span>Learn More</span></button>
      </div>
      <span class="hero-text02">
        <span>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
            volutpat turpis.
          </span>
          <span></span>
        </span>
        <span>
          <span>
            Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
            Lorem
          </span>
          <span></span>
        </span>
        <span>
          <span>ipsum dolor sit amet, consectetur adipiscing elit.</span>
          <span></span>
        </span>
        <br />
        <span></span>
        <br />
        <span>
          <span>
            Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
          </span>
          <span></span>
        </span>
      </span>
    </div>
  </div>
</div>
